
<section class="masthead">

  <div class="language-nav">
    <ul>
      <li><a href="">CSS</a></li>
      <li><a href="">HTML</a></li>
      <li><a href="">Javascript</a></li>
      <li><a href="">Ruby</a></li>
    </ul>
  </div>

  <div class="logo">
    <img src="assets/AA_Times_Logo.png" alt="App Academy Times Logo">
  </div>

  <div>
    <ul class="masthead-links">
      <li> <%= Date.today.to_formatted_s(:long) %></li>
      <li>
        <i class="far fa-newspaper"></i>
        <a href="">Today's Paper</a>
      </li>
      <li> 
        <i class="fas fa-video"></i>
        <a href="">Video</a>
      </li>
      <li>
        <button type="button" value="">77°F</button>
      </li>
      <li>
        <button type="button" value="">AAO +100%</button>
      </li>
    </ul>
  </div>

</section>
